.NavBar{
  height: 80px;
  margin-bottom: 20px;
}

.me-auto{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.me-auto .Link {
  width: 33.33%;
  color: #000;
  font-weight: 600;
}

.me-auto .Link:hover {
  color: #ff5733;
}

.Footer{
  height: auto;
  background: #ececec;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1px 0;
}

.Footer p{
  font-size: 10px;
  text-align: center;
}

.ActorContent{
  height: auto;
}

.ActorSearch {
  text-align: center;
  background: #f8f8f8;
  margin: 0 0 20px;
}

.ActorSearch input{
  width: 80%;
  height: 60px;
  margin: 20px 0;
  outline: none;
  border: none;
}

.ActorSearch button{
  width: 10%;
  height: 60px;
  background: #ff8888;
  color: #fff;
  border: none;
}

.ActorResultBox{
  width: 90%;
  height: auto;
  padding: 20px 0;
  margin: 10px auto;
  border: 2px solid #e2e2e2;
}
