.App {
  text-align: center;
}
.Nav_gui li{ 
  float: left;
  margin-left: 10px;
}
.GuiContainer{
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.NavBar {
  padding: 10px;
}
.Movie {
}
#Main_Layout {
  width: 80vw;
}
.search_Input {
  background-color: gray;
}